<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="header :: head('Login')">
	
	</head>
	<body>
		<script> AOS.init(); </script>
		<div class="container" >
			<div class="row" >
			
				<div class="col-lg-12 mp0" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="200">
                   <h3 style="margin-top: 150px; color: green; padding-left: 4%;">Login</h3>
	            </div>
	            <br/>
	            <div class="col-lg-11 mp0" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="100">
					<form autocomplete="off" method="POST">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						
						<div class="row form-group col-lg-8"  style="margin-top: 20px;" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="500">
							<div class="col-lg-12 mp0" style="display:flex; flex-flow: row;">
                               	<span class=""><i class="icofont-envelope" style="color: #ffffff;"></i></span>
								<input type="text" name="username" placeholder="Kenmaxi@gmail.com" maxlength="60" required
									class="form-control" style="margin-left: 5%; min-width: 315px;"/>
							</div>
						</div>
						
						<div class="row form-group col-lg-8"  style="margin-top: 20px;" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="500">
							<div class="col-lg-12 mp0" style="display:flex; flex-flow: row;">
                               	<span class=""><i class="icofont-ui-password" style="color: #ffffff;"></i></span>
								<input type="password" name="password" placeholder="●●●●●●●" required maxlength="15"
									class="form-control" style="margin-left: 5%; min-width: 315px;"/>
							</div>
						</div>
						
						<div class="form-group col-lg-8" style="margin-top: 18px; margin-left:18px;" align="left" data-aos="fade-up" data-aos-easing="lienear" data-aos-duration="900">
							<button type="submit" id="action" class="btn btn-xs verify-pin" style="background: green; color: #ffffff;">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

