@charset "ISO-8859-1";

*{
	margin: 0px;
	padding:0px;
}
.main-container{
	display: flex;
	flex-flow: row;
}

body, html {
  height: 100%;
}

body{
	background-image: #ffffff/* url('/images/adminbackgroundimg.jpg') */;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.nav-tab{
	min-width: 120px !important;
	width: auto;
	min-height: 70px !important;
	height: 70px !important;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
}

.sidebar-wrapper{
	display: block;
	padding: 0px;
	z-index: 1;
	position: fixed;
	width:0px;
	height:100%;
	overflow-y:hidden;
	transition: width 0.5s, background 0.5s ease-out;
}

.sidebar-wrapper form{
	display: flex;
	flex-flow: column;
	z-index: 1;
}

.sidebar-wrapper form div{
	display:flex;
	flex-flow-row;
	justify-content: center;
	width: 100%;
	margin:0px;
	padding-bottom:10px;
	z-index: 1;
}

.form-header{
	height:300px;
}
.profile-input{
	font-size: 1.15em !important;
	marging: 2% 2%;
	padding:5px;
	background: white !important;
	width: 96%;
	border:1px;
	border-radius: 0.3em;
	z-index: 1.2;
}

.btn_submit{
	background:#28b351;
	border: none;
}

.page-content-wrapper{
	width:100%;
	position:absolute;
	transition: width 0.5s, padding-left 0.5s ease-out !important;
}

#wrapper.menuDisplayed .sidebar-wrapper{
	width:330px;
	background: rgba(0,0,0,0.4) !important;
}

#wrapper.menuDisplayed  .page-content-wrapper{
	padding-left:330px;
}
.dataTableImage{
	border-radius: 15em;
	width:25px;
	height:25px;
	max-width:25px;	
	max-height:25px;
}
hr{
	background: purple !important;
	height:4px;
}
.profile-image{
	background-image: linear-gradient(transparent 65%, rgb(248,248,248,0.9) 35%);
}

.studentProfileImage:hover{
	transform: scale(1.1);
	transform: rotate(14deg);
}

.studentProfileImage{
	margin-top:100px;
	padding:10px;
	border-radius: 13em;
	width:370px;
	height:370px;
	max-width:370px;	
	max-height:370px;
	border: 5px solid #24a249;
	-webkit-transition: ease-out 1s;
	transition: ease-out 1s;
	transform: scale(1);
}

.examProfileImage{
	margin-top:10px;
	padding:10px;
	border-radius: 13em;
	width:250px;
	height:250px;
	max-width:250px;	
	max-height:250px;
	border: 5px solid #28b351;
}

.profile-body{
	background: rgb(248,248,248,0.9);
	padding-bottom: 30px;
}

.profile-label{
	font-size: 1.15em;
	margin:0px;
	padding: 0px;
}

.mp0{
	margin: 0px !important;
	padding: 0px !important;
}

.flxrow{
	display: flex;
	flex-flow: row;
	align-content: center;
	justify: center
}

.flxcol{
	display: flex;
	flex-flow: column;
	align-content: center;
	justify: center
}

.sethov :hover{
	border-left: 1px solid white;
}

.switch{
	position:relative;
	display:inline-block;
	width: 70px;
	height: 30px;
}

.switch input{
	opacity: 0;
	width: 0;
	height:0;
}

.slider{
	position:absolute;
	cursor:pointer;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #555555;
	-webkit-transition: .5s;
	transition: .5s;
}

.slider:before{
	position:absolute;
	content:"";
	height: 22px;
	width:22px;
	left:4px;
	bottom:4px;
	background-color: #f8f8f8;
	-webkit-transition: .5s;
	transition: .5s;
}

input:checked + .slider:before{
	-webkit-transform: translate(40px);	
	-ms-transform: translate(40px);	
	transform: translate(40px);	
}

.slider.round{
	border-radius:30px;	
}

.validateForm{
	max-width: 500px;
}

.slider.round:before{
	border-radius: 50%;	
}

input:checked + .slider{
	background-color: #608c24;	
}

.subject{
	display:flex;
	flex-flow: column;
	justify-content: left;
}

.subject-body{
	display: none;
	flex-flow: row;
	justify-content: left;
}

.subject-body p{
	font-weight:bold;
	margin:auto;
	padding: auto;
	padding-bottom:20px;
}

.label-pointer:hover{
	cursor:pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tool tip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.profileForm {
	display: none;
}

.question-header, .question-timer {
	background: #f8f8f8;
}

.question-timer h1{
	color: #24a249;
	font-size: 50px;
	margin: 0px;
	padding-top: 100px;
}

.question-body{
	display: block;
	margin: 0px;
	padding-top: 10px;
	min-height:270px;
	background: #f8f8f8;
	font-size: 18px;
}

.question-options{
	margin-top: 5px;
}

.navigate-subject {
	float:left;
	width: 200px;
	min-width:200px;
	margin: 5px;
	border: none;
	background: #ffffff;
	color: #2ECC71;
	font-size: 18px;
}

.navigate-body{
	display:block;
	
}

.navigate {
	float:left;
	width:68px;
	margin: 5px;
	border: none;
	font-size: 18px;
}

.validation-message{
	color: red !important;
	font-size: 15px !important;
	margin: 0px;
	padding: 0px;
}

#chart {
	width: 100%;
	min-width: 350px !important;
	height: 500px !important;
	min-height: 200px !important;
	max-height: 200px !important;
	margin: 0;
	margin-top: 5%;
	padding: 0;
	background: #f8f8f8 !important;
	border:none;
   }
 
 .chart-title{
	display:flex;
	flex-flow:row;
	justify-content: center;
	padding-top:20px;
	margin:0;
	color: #ffffff;
}
.chart-title p{
	font-size: 35px;
	cursor: default;
}
.apexcharts-legend-text tspan:nth-child(1) {
	font-weight: lighter;
	fill: red;	
}
   
.apexcharts-legend-text tspan:nth-child(3) {
  	font-weight: bold;
}

.valid-text-color{
	color: red;
}
.verify-pin{
	width: 250px;
	height: 40px;
	font-size: 20px;
}

@media screen and (max-width: 840px) {
	.subject-body{
	    flex-flow: column;
	}
	
	.studentProfileImage{
		width:300px;
		height:300px;
		max-width:300px;	
		min-width:300px;
		max-height:300px;
		min-height:300px;
	}
	
	.chart-title p{
		font-size: 25px ;
	}
}

@media screen and (max-width: 670px) {

	#wrapper.menuDisplayed  .page-content-wrapper{
		padding-left:0px;
	}
	
	.profile-label, .subject-body p{
		font-size: 0.85em !important;
	}
	
	.chart-title p{
		font-size: 25px ;
	}
}

@media screen and (max-width: 500px) {

	#wrapper.menuDisplayed  .page-content-wrapper{
		padding-left:0px;
	}
	
	#wrapper.menuDisplayed .sidebar-wrapper{
		width:100%;
	}
		
	.form-header{
		height:100px;
	}
	
	.chart-title p{
		font-size: 20px ;
	}
}
