<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="header :: head('Role Registration')">
	
	</head>
    <body>
	<script> AOS.init(); </script>
		<div class="container" >
			<div class="row" >
				<div class="col-lg-12 mp0" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="200">
                   <h3 style="margin-top: 150px; color: green; padding-left: 4%;">ROLE Registration Form</h3>
	            </div>
	            <br/>
	            <div class="col-lg-11 mp0" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="100">
					<form autocomplete="off" action="#" th:action="@{/roleregistration}" method="POST" role="form" th:object="${roleModel}" >
						<div class="row form-group col-lg-8"  style="margin-top: 20px;" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="500">
							<label th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}"
									class="validation-message"></label>
							<div class="col-lg-12 mp0" style="display:flex; flex-flow: row;">
                                
                                	<span class=""><i class="icofont-ui-user-group" style="color: #ffffff;"></i></span>
                                
									<input type="text" th:field="*{roleName}" id="roleName" placeholder="Please enter a Role"
									class="form-control" style="margin-left: 5%; min-width: 315px;"/>
																
							</div>
						</div>
						<div class="form-group col-lg-2" style="margin-top: 18px; margin-left:50px;" align="left" data-aos="fade-up" data-aos-easing="lienear" data-aos-duration="900">
							<button type="submit" id="action" class="btn btn-success btn-xs verify-pin" style="background: green; color: #ffffff;">Submit</button>
						</div>							
					</form>		
				</div>
			</div>
		</div>
	</body>
</html>

	