<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="header :: head('Student Profile')">
	
	</head>
	<body style="background: url('/images/adminbackgroundimg.jpg')">
		<script> AOS.init(); </script>
		<div class="main-container" id="wrapper" style="background: rgb(0,0,0,0.8); background-size: cover; height: 100%">
	      	
	      	<div class="page-content-wrapper">
	      	<div class="row col-lg-2 ">
	      		<input type="image" src="/images/edit.png" class="" id="form-toggle" value= "Edit Form" style="margin: 0 0 0 20px; width: 50px; height: 50px; border-radius: 5px;">
	      	</div>
	        	<div class="container-fluid">
	           	 	<div class="row">
		                <div class="col-lg-12 col-md-12 profile-image" align="center" th:utext="${student.profileImage}">
		                	<!---- PROFILE IMAGE GOES HERE  -->
		               	</div>
		                <div class="col-md-12 profile-body" style="display: flex; flex-flow: column;">
		                								
			                	<span class="profile-label"> First Name : <label th:utext="${student.firstName}"></label></span>
								<span class="profile-label"> Middle Name : <label th:utext="${student.lastName}"></label></span>
			                	<span class="profile-label"> Surname : <label th:utext="${student.otherName}"></label></span>
		                		<span class="profile-label"> Email : <label th:utext="${student.email}"></label></span>
		                		<span class="profile-label"> Phone : <label th:utext="${student.phone}"></label></span>
		                		<span class="profile-label"> Gender : <label th:utext="${student.gender}"></label></span>
		                		<span class="profile-label"> Address : <label th:utext="${student.Address}"></label></span>
		                   		<span class="profile-label"> Course : <label th:utext="${student.courseModel}"></label></span>
			                	<span class="profile-label"> Status : <label th:utext="${student.validStatus}"></label></span>
			                	<span class="profile-label label-pointer" id="SubjectLabel">Subjects <span class="caret"></span></span>
		                		<div class="subject-body">
			                			<p class="Subject" th:each="subject:${subjectList}" th:utext="${subject.subjectName}"></p>
	                			</div>
			                	<span class="profile-label"> Online : <label th:utext="${student.onlineStatus}"></label></span>
			                	<span class="profile-label"> Registration Date : <label th:utext="${student.regdate}"></label></span>
		                	
		               	</div>
		            </div>
				</div>
			</div>
			<div class="sidebar-wrapper">
				<form autocomplete="off" action="#" th:action="@{/studentprofile}" method="POST" role="form"
	    			 th:object="${studentModel}" enctype="multipart/form-data"  id="student_form" >
								<div class="form-header"></div>
								
				   				<div >
									<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
											class="validation-message"></label>
									<input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name"
											class="profile-input" pattern="^\s*([a-zA-Z]+)\s*$"/> 
								</div>
	
								<div>
									<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
											class="validation-message"></label>
									<input type="text" th:field="*{lastName}" id="lastName"
											placeholder="Middle Name" class="profile-input" /> 
								</div>
								
								<div>
									<label	th:if="${#fields.hasErrors('otherName')}" th:errors="*{otherName}"
											class="validation-message"></label>
									<input type="text" th:field="*{otherName}" id="otherName"
											placeholder="Surname" class="profile-input"/>
								</div>
								
								<div>
									<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="validation-message"></label>
									<input type="text" th:field="*{email}" id="email"
										placeholder="Okeke@gmail.com" class="profile-input"/>									 
								</div>	
								
								<div>
									<label for="gender" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
										class="validation-message"></label>
									<select th:field="*{gender}" id="gender" class="profile-input">
										<option th:value="default" >Select Gender</option>
										<option th:value="MALE" th:text="MALE" ></option>
										<option th:value="FEMALE" th:text="FEMALE" ></option>
									</select>	
								</div>
			
								<div>
								 	<label for="address" th:if="${#fields.hasErrors('address')}" 
									 th:errors="*{address}"	class="validation-message"></label>
									<input type="text" th:field="*{address}" id="address" placeholder="Address"
										class="profile-input"/>
								</div>					
							
								<div>								
								 	<label for="courseModel" th:if="${#fields.hasErrors('courseModel')}" th:errors="*{courseModel}"
										class="validation-message"></label>
									<select th:field="*{courseModel}"	class="profile-input">
										<!-- <option th:value="default" >Select Course</option> -->
										<option th:each="course:${courseList}"
										th:value="${course.courseId}"
										th:utext="${course.courseName}"/>
									</select>
								</div>
							
							<div class="footer col-sm-9">
								<div>
									<input type="hidden" id="employeeId" th:field="*{userId}"/>
									<button type="submit" id="action" class="btn btn-primary btn-block btn_submit" th:utext="EDIT"></button>
								</div>	
							</div>
							
							<div class="footer col-sm-9">
				      			<a href="/changepassword" style="text-decoration: none; color: yellow; font-size: 15px;">Change Password</a>
							</div>
							
							<div class="form-header"></div>
					</form>
			</div>
		</div>
	</body>
	
	<script>
		$( document ).ready(function() {
			
			var token = $("meta[name='_csrf']").attr("content");
		  	var header = $("meta[name='_csrf_header']").attr("content");
		  	
			$(document).on('click','#SubjectLabel', function(){
				var elements = $(".subject-body");
					if(elements.css("display") == "none"){
						elements.css("display","flex");
					}else{
						elements.css("display","none");
					}
				});
			
			$(document).on('click','.form-header, .profile-image', function(e){
				$("#form-toggle").trigger('click');
			});
			
			$(document).on('click','#form-toggle', function(e){
				e.preventDefault();
				$("#wrapper").toggleClass("menuDisplayed");
				
				var studentId = $(".studentProfileImage").attr("id");
				$.ajax({
					url:"/studentprofile/fetch/"+studentId,
					dataType:"json",
					success:function(data)
					{
						$('#studentId').val(data.userId);
						$('#firstName').val(data.firstName);
						$('#lastName').val(data.lastName);
						$('#otherName').val(data.otherName);
						$('#email').val(data.email);
						$('#phone').val(data.phone);
						$('#address').val(data.address);
						$('#gender').val(data.gender);
						$('#courseModel').val(data.courseModel);
					}
				}); 
			});
		});
	</script>
</html>